.filter-by {
  font: 18pt "Montserrat SemiBold";
  color: #a47053;
  margin: 200px 120px 0px 0px;
}

.select-filter {
  font: 16pt "Montserrat Light";
  border-radius: 9px;
  padding: 0 20px 0 20px;
}

.select-data {
  font: 16pt "Montserrat Light";
  border-radius: 9px;
  padding: 0 20px 0 20px;
}

.select-priority {
  font: 16pt "Montserrat Light";
  border-radius: 9px;
  padding: 0 20px 0 20px;
}



