<label class = "filter-by">Фильтр по приоритету: </label>

<select class = "select-filter">
  <option>выберите приоритет</option>
  <option>любой</option>
  <option>низкий</option>
  <option>средний</option>
  <option>высокий</option>
</select>

<label class = "filter-by">Фильтр по статусу: </label>
  активные <input type = checkbox>
  отмененные <input type = checkbox>
  завершенные <input type = checkbox>

<label class = "filter-by">Сортировка по дате</label>
<select class = "select-data">
  <option>По возрастанию</option>
  <option>По убыванию</option>
</select>

 <label class = "filter-by">Сортировка по приоритету</label>
<select class = "select-priority">
  <option>По возрастанию</option>
  <option>По убыванию</option>
</select>





