<form class = "tool-bar">

<div>
  <label class = "filter-by">Фильтр по приоритету </label>
  <select class = "select-filter">
  <option disabled = true>выберите приоритет</option>
  <option>любой</option>
  <option>низкий</option>
  <option>средний</option>
  <option>высокий</option>
</select>
</div>

<div class = "filter-status">
  <label class = "filter-by">Фильтр по статусу </label>
  <label class = "check-label">активные</label> <input type = checkbox class = "check-label">
  <label class = "check-label">отмененные</label> <input type = checkbox class = "check-label">
  <label class = "check-label">завершенные</label> <input type = checkbox class = "check-label">
</div>

<div class = "sort-by-data">
<label class = "filter-by">Сортировка по дате</label>
<select class = "select-data">
  <option>По возрастанию</option>
  <option>По убыванию</option>
</select>
</div>

<div class = "sort-by-priority">
 <label class = "filter-by">Сортировка по приоритету</label>
<select class = "select-priority">
  <option>По возрастанию</option>
  <option>По убыванию</option>
</select>
</div>

</form>



