.select-filter {
  font: 12pt "Montserrat Light";
  border-radius: 9px;
  padding: 0 20px 0 20px;
  position: relative;
  left: 90px;
}

.select-data {
  font: 12pt "Montserrat Light";
  border-radius: 9px;
  padding: 0 20px 0 20px;
  position: relative;
  left: 120px;
}

.select-priority {
  font: 12pt "Montserrat Light";
  border-radius: 9px;
  padding: 0 20px 0 20px;
  position: relative;
  left: 65px;
}

.check-label {
  font: 14pt "Montserrat Light";
  color: #483D8B;
  position: relative;
  left: 120px;
}

.tool-bar {
  background-color:#E5CBF5;
  border-radius: 10px;
  width: 100%;
  height: 210px;
  margin: 30px auto;
  display: inline-block;
  font: 14pt "Montserrat Bold";
  color:	#483D8B;
}

.filter-status {
  position: relative;
  top: 30px;
}

.sort-by-data {
  position: relative;
  top: 60px;
}

.sort-by-priority {
  position: relative;
  top: 90px;
}



