<form class = "tool-bar">

<div>
  <label class = "filter-by">&nbsp;Фильтр по приоритету </label>
  <select class = "select-filter" (change)="filter()" [formControl]="filterControl">
  <option disabled>выберите приоритет</option>
  <option>любой</option>
  <option>низкий</option>
  <option>средний</option>
  <option>высокий</option>
</select>
</div>

<div class = "filter-status" [formGroup]="filterByStatus">
  <label class = "filter-by">&nbsp;Фильтр по статусу </label>
  <label class = "check-label1">активные</label> <input type = checkbox
                                                        class = "check-label11"
                                                        (change)="sortByStatus()"
                                                        formControlName="active">
  <label class = "check-label2">&nbsp;&nbsp;отмененные</label> <input type = checkbox
                                                         class = "check-label22"
                                                         (change)="sortByStatus()"
                                                         value="3"
                                                         formControlName="canceled">
  <label class = "check-label3">&nbsp;&nbsp;завершенные</label> <input type = checkbox
                                                         class = "check-label33"
                                                         (change)="sortByStatus()"
                                                         value="1"
                                                         formControlName="finished">
</div>

<div class = "sort-by-data">
<label class = "filter-by">&nbsp;Сортировка по дате</label>
<select class = "select-data" (change)="sortByData()" [formControl]="dataControl">
  <option>выберите сортировку</option>
  <option>По возрастанию</option>
  <option>По убыванию</option>
</select>
</div>

<div class = "sort-by-priority">
 <label class = "filter-by">&nbsp;Сортировка по приоритету</label>
<select class = "select-priority" (change)="sortByPriority()" [formControl]="sortPriorityControl">
  <option>выберите сортировку</option>
  <option>По возрастанию</option>
  <option>По убыванию</option>
</select>
</div>

<div class="searchTask">
  <label>&nbsp;Поиск</label>
  <input class="search" [formControl]="search" (input)="searchTask()" placeholder = "Начните вводить текст задачи...">
</div>

</form>



