<div class = "recorded-tasks">
    <div  *ngFor = "let task of toDo" class = "received-tasks" >
        <div [ngClass] = "task.status === 1 ? 'finishedTasks' : task.status === 2 ? 'unfinishedTasks': 'canceledTasks'">
          <div class = "color-priority">{{task.priority}}</div>
          <div>{{task.name}}</div>
          <div>{{task.time}}</div>
        </div>
      <div class = "icons-item">
        <span (click)="delete(task)" class="material-icons delete">delete</span>
        <span class="material-icons outlined">save</span>
        <span (click) = "finish(task)" [ngClass]="task.status === 1 ? 'hidden' : 'visible'" class="material-icons outlined" id = "checkFinish">done</span>
        <span (click) = "cancel(task)" [ngClass]="task.status === 3 ? 'hidden' : 'visible'" class="material-icons outlined" id = "checkCancel">close</span>
      </div>
    </div>
</div>
