.fin-tasks {
  font: 12pt "Montserrat Medium";
}

.cancel-tasks {
  font: 12pt "Montserrat Medium";
}

.unf-tasks {
  font: 12pt "Montserrat Medium";
  background-color:#cec3c8;
  position: relative;
  top:100px;
  left: 10px;
  //width: 100%;
  //margin: 10px auto;
  //border: 1px solid #ccc;
  //display: inline-block;
}
