.fin-tasks {
  font: 14pt "Montserrat Medium";
}

.cancel-tasks {
  font: 14pt "Montserrat Medium";
}

.unf-tasks {
  font: 14pt "Montserrat Medium";
  background-color:#cec3c8;
  position: relative;
  top:100px;
  left: 10px;
}

.recorded-tasks {
  background-color:#E5CBF5;
  border-radius: 5px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #ccc;
  display: inline-block;
}

.received-tasks {
  height: 70px;
  background-color: white;
}

.finishedTasks {
  background-color: #98FB98;
}

.unfinishedTasks {
  background-color: white;
}

.canceledTasks {
  background-color: #FFC0CB;
}

.icons-item {
  margin-left: 620px;
  margin-top: -30px
}
