<button class = "button-task-sign" (click) = "signIn()" [disabled]=this.click>&nbsp;Войти</button>
<label class = "toDoList">ToDoList</label>

<div [formGroup]="task" class="new-task">
  <label class = "priority"> Приоритет</label>
  <select  class = "priority-select" formControlName="namePriority">
    <option disabled>Выберите приоритет</option>
    <option>низкий</option>
    <option>средний</option>
    <option>высокий&nbsp;</option>
  </select>

  <input class = "input-task" formControlName="nameTask">
  <button class = "button-task" (click) = "addTask()" [disabled]="task.invalid">&nbsp;Добавить задачу</button>
</div>

