.toDoList {
  font: 54pt "Montserrat ExtraBold";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #F6F18F ;
  padding: 10px 200px;
}

.priority {
  font: 14pt "Montserrat SemiBold";
  color: #F6F18F;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin: 100px 60px 0px 0px;
}

.priority-select {
  font: 12pt "Montserrat Light";
  border-radius: 9px;
}

.input-task {
  font: 12pt "Montserrat Medium";
  border-radius: 9px;
  margin-top: 20px;
  margin-left: 10px;
}

.button-task {
  border-radius: 6px;
  font: 14pt "Montserrat SemiBold";
  background-color: #E5CBF5;
  color: white;
  margin-left: 10px;
  padding: 0 20px 0 20px;
}

