<label class = "toDoList">ToDoList</label>

<div [formGroup]="task" class="new-task">
  <label class = "priority"> Приоритет</label>
  <select  class = "priority-select" formControlName="namePriority">
    <option value = "low" selected = "selected">низкий</option>
    <option value = "medium">средний</option>
    <option value = "high">высокий</option>
  </select>

  <input class = "input-task" formControlName="nameTask">
  <button class = "button-task" (click) = "addTask()">Добавить задачу</button>

</div>
